$('.grid_9').empty();
$('.grid_9').append($('<div id="rabat"></div>'));
$('#rabat').html("<%= escape_javascript(render(@rrabats)) %>");

Galleria.loadTheme("<%= javascript_path('galleria.classic.min.js') %>");
Galleria.run('#rabat');
